<div style="text-align:center">
    <h1>Робоперашки</h1>

    {% if info_message %}<p><strong>{{ info_message }}</strong></p>{% endif %}
    
    <form action="{% url 'generator_index' %}" method="post">
        {% csrf_token %}
        {% if perashok_lines %}
            <p>
            <label name="text">
                {% for line in perashok_lines %} {{ line }}</br> {% endfor %}
            </label>
            </p>
            <input type="hidden" name="hidden_text" value = "{{ perashok_text }}" />
            <input type="submit" value="Сохранить для потомков" name="save" />
        {% endif %}
        <input type="submit" value="Замесить тесто!" name="train" />
        <input type="submit" value="Испечь робопирожок!" name="more" />
    </form>
</div>
